# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
.env

# Jetson / DeepStream artifacts
*.log
outputs/
nvds_
train_spotter/tests/*.mp4
.venv/
data/

# IDE
.vscode/
.idea/
.DS_Store
